# KiCad backup directory
RP2040_KiCad_template-backups

# Auto-saved files (match any file starting with _autosave)
_autosave*

# Lock or temporary files (match any file starting with ~)
~*

# Specific file
#auto_saved_files#
jlcpcb